.main {
  margin-top: 100px;
  width: 100%;
  height: calc(100svh - 100px);
}
.main_content_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.main_textside {
  height: 100%;
  background-color: var(--usual-decorations);
  width: 100%;
}
.main_textside_wrapper {
  height: 100%;

  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_textside_text_wrapper {
  margin-top: calc(20%);
  display: flex;
  flex-direction: column;

  gap: 40px;
}
.main_textside_text_subtext {
  width: 100%;
  max-width: 381px;
  color: var(--bgtext);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_textside_button {
  width: 100%;
  max-width: 452px;
}

.main_imageside_image {
  width: auto;
  height: 100%;
}
