.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.thankyou_main {
  font-size: 30px;
  color: black;
  margin: 0 auto;
  text-align: center;
  margin-top: 300px;
}
.back_to_main {
  font-size: 20px;
}
